.map {
  background-color: white;
  padding: 0.5rem;
  border-radius: 10px;

  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
}
.map,
leaflet-container {
  height: 67.5%;
}

.info-flag img {
  width: 100px;
  border-radius: 3px;
}

.info-name {
  font-size: 20px;
  font-weight: bold;
  color: #555;
}

.info-container {
  width: 150px;
}

.info-flag {
  height: 80px;
  width: 100%;
  background-size: cover;
  border-radius: 8px;
}

.info-confirmed,
.info-recovered,
.info-deaths {
  font-size: 16px;
  margin-top: 5px;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent grey background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
